input[type='text'] {
    background: transparent;
    display: block;
    border-bottom-color: #B8B8B8; border-width: 0 0 1px 0;
    margin: 6px; padding: 4px 12px;
    font-size: 16pt;
    width: 90%;
    -webkit-tap-highlight-color: transparent !important;
}

input[type='text']:focus {
    border-width: 0 0 2px 0;
    border-bottom-color: #33b5e5; /* rgba(51,181,229,1) */
    margin: 6px 6px 5px 6px;
}

*:focus { outline: none; }